@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    background: linear-gradient(
        to bottom,
        #E9E8E1,
        #D8D9CC,
        #C8CABB
    );
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(255,255,255,0.3), transparent 70%);
    pointer-events: none;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  backdrop-filter: blur(12px);
  padding: 20px;

  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 25px rgba(160, 80, 59, 0.08);
}
.input {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  padding: 12px;
  width: 100%;

  border: 1px solid rgba(200, 202, 187, 0.6);
  outline: none;
  transition: all 0.2s ease;
}
.input:focus {
  border-color: #A2503B;
  box-shadow: 0 0 0 3px rgba(162, 80, 59, 0.15);
}